
#vid-content-grid{
    @media (min-width:575px) {
        width: 520px;
    }
 
    @media (min-width:770px) {
        width: 720px;
        @apply grid-cols-2
    }
 
      @media (min-width:1000px) {
         width: 970px;
        @apply grid-cols-3
    }
 
      @media (min-width:1200px) {
        width: 1190px;
        // @apply grid-cols-4
    }
}