header{
    #mobile-nav{
        @apply fixed h-[100vh] top-0 z-20;
        transition: transform 500ms ease-in-out;
        transform: translateX(-100%);

        &.open{
            transform: translateX(0);
        }
        opacity: .95;
        background-color: #383838;
        
        nav{
            a{
                border-bottom: 1px solid white;
            }
        }

        ul {
            a{
                svg{
                    color: #154ea4;
                    // @apply orange-text-hover;
                }
            } 
        }

        @media (min-width:1000px) {
            @apply hidden;
        }
    }

    input{
        border-radius: 8px;
    }
}