header {
  svg,
  a {
    transition: color 0.4s ease;
  }
  #mobile-nav {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 20;
    transition: transform 500ms ease-in-out;
    transform: translateX(-100%);
    opacity: 0.95;
    background-color: #383838;

    &.open {
      transform: translateX(0);
    }

    nav {
      a {
        border-bottom: 1px solid white;

        &:hover {
          color: #154ea4;
        }
      }
    }

    ul {
      a {
        svg {
          color: #154ea4;
          // @extend .orange-text-hover;

          &:hover {
            color: #e58c23;
          }
        }
      }
    }

    @media (min-width: 1000px) {
      display: none;
    }
  }

  input {
    border-radius: 8px;
  }
}
