@import './index.scss';
@import './header.scss';
@import './footer.scss';
@import './mobile_nav.scss';


*, body {
    font-family: Poppins, sans-serif;;
}

input{
    outline: none;
    border: none;

    &:focus{
        outline: none;
        border: none;
    }
}

.blue-btn{
    border-radius: 7px;
}

.blue-text-hover, .orange-text-hover{
    transition: color 0.4s ease;
}

.blue-text-hover{
    &:hover{
        color: #154ea4;
    }
}

.orange-text-hover{
    &:hover{
        color: #e58c23;
    }
}