.youtube-video-wrapper {
    position: relative;
    overflow: hidden;
  
    .channel-image {
      width: 100%;
      display: block;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    //   background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    //   opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
  
      .youtube-logo {
        font-size: 4rem;
        color: #ff0000;
      }
    }
  
    .video-title {
      margin-top: 10px;
      text-align: center;
  
      a {
        text-decoration: none;
        color: #333;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  